<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;800&display=swap">

</head>

<body>
    <header class="header">

    <div class="logo">Zocca Tiago</div>

    <nav>
        <a href="#projects">Mes projets</a>
        <a href="#contact">Me contacter</a>
    </nav>

</header>

    <div id="particles"></div>

    <div class="content">

        {{ content }}

    </div>

    <script src="/assets/js/particles.js"></script>
    <script src="/assets/js/projectsData.js"></script>
    <script src="/assets/js/loadRepos.js"></script>
    <script src="/assets/js/cursor.js"></script>

    <footer class="footer">
        <p>Zocca Tiago — All rights reserved</p>
    </footer>

</body>

</html>